
@{
    ViewData["Title"] = "NotFoundData";
}

<br />
<h3 class="custom-text">Data Not Found! </h3>
<br />

<div class="alert alert-danger">
    <h5>Information you're looking for NOT FOUND!'</h5>
    <a asp-action="Index" class="btn btn-secondary">Back to Book List</a>
</div>