@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="cover-heading custom-text">Welcome To 2Read Application</h1>
    <p class="lead"> 2Read is a web application to keep track of your book reading list, a book wishlist.  </p>
    <p class="lead">
        <a asp-controller="Books" asp-action="Index" class="custom-text"> Get Started Now 123! </a>
    </p>
</div>
